[main]

order = 
    assets/css/bootstrap.css
    assets/css/font-awesome/fontawesome-pro-brands.css
    assets/css/font-awesome/fontawesome-pro-core.css
    assets/css/font-awesome/fontawesome-pro-light.css
    assets/css/font-awesome/fontawesome-pro-regular.css
    assets/css/font-awesome/fontawesome-pro-solid.css
    assets/css/font-awesome/fontawesome-pro-svg-framework.css
    assets/css/normalize.css
    assets/css/react-datepicker.css
    assets/css/main.css
    assets/css/explorer_plugin.css
    assets/css/font-awesome/font-awesome.css
