{% extends "gobar_page.html" %}

{% set bgUrl = h.get_theme_config('title.background-image') or (h.get_from_config_file('ckan.site_url') + "/img/home_bg.png") %}

{% block styles %}
      {{ super() }}

      {% resource 'seriestiempoarexplorer/assets/css/bootstrap.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/font-awesome/fontawesome-pro-brands.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/font-awesome/fontawesome-pro-core.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/font-awesome/fontawesome-pro-light.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/font-awesome/fontawesome-pro-regular.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/font-awesome/fontawesome-pro-solid.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/font-awesome/fontawesome-pro-svg-framework.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/normalize.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/react-datepicker.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/explorer_plugin.css' %}
      {% resource 'seriestiempoarexplorer/assets/css/font-awesome/font-awesome.css' %}

      {% set config_background_opacity = h.get_from_config_file('andino.background_opacity') %}
      {% set bgOpacity = config_background_opacity if config_background_opacity else '0.5' %}

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@2.8.0/dist/css/main.css" type="text/css">

      <style type="text/css">

        div#hero > div.hero-caption{background-color: rgba(0, 0, 0, {{ bgOpacity }} );}

      </style>

{% endblock %}



{% block scripts %}
    {{ super() }}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3.2/jquery.easing.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/datosgobar/series-tiempo-ar-explorer@2.6.0/dist/js/main.js"></script>
    <script>window.onload = function () {
        var myTrim = function(TS_ID) {
            return TS_ID.trim();
        };
        TSExplorer.render("root", {
            featured: "{{ h.get_theme_config('series_tiempo_ar_explorer.featured') or '' }}".split(",").map(myTrim).filter(Boolean),
            seriesApiUri: "{{ h.get_theme_config('series_tiempo_ar_explorer.series-api-uri') or 'https://apis.datos.gob.ar/series/api' }}",
            catalogId: "{{ h.get_theme_config('portal-metadata.id', '') }}",
            useBrowserRouter: true,
            laps: {
               Diaria: "{{ h.get_theme_config('series_tiempo_ar_explorer.laps.diaria') or 90 }}",
               Mensual: "{{ h.get_theme_config('series_tiempo_ar_explorer.laps.mensual') or 24 }}",
               Trimestral: "{{ h.get_theme_config('series_tiempo_ar_explorer.laps.trimestral') or 20 }}",
               Semestral: "{{ h.get_theme_config('series_tiempo_ar_explorer.laps.semestral') or 10 }}",
               Anual: "{{ h.get_theme_config('series_tiempo_ar_explorer.laps.anual') or 10 }}"
            },
            locale: "{{ h.get_theme_config('series_tiempo_ar_explorer.locale') or 'AR' }}",
            browserRouterConf: {
                basename: "/series/api"
            },
            maxDecimals: "{{ h.get_theme_config('series_tiempo_ar_explorer.max-decimals') or 2 }}",
            heroImageUrl: "{{ bgUrl }}"
        });

    }</script>
{% endblock %}


{%- block content %}
<div class="home">
    <div id="title" class="container-fluid" style="padding-top: 72px">
            <noscript>You need to enable JavaScript to run this app.</noscript>
            <div id="root"></div>
    </div>

</div>
{% endblock %}


